body{
    height: 100vh;
    background: #343434;
    margin: 0;
}

.wrapper{
    font-family: "Open Sans";
    color: #fff;
    max-width: 1080px;
    margin: auto;
    box-sizing: border-box;
    padding-left: 30px;
}